<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="gpj.com.album">
    <application>
        <activity
            android:name=".app.album.AlbumActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".app.album.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />

        <activity
            android:name=".app.album.NullActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />

        <activity
            android:name=".app.gallery.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />

        <activity
            android:name=".app.gallery.GalleryAlbumActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
    </application>
</manifest>
